<%= form_for(@value) do |f| %>
  <% if @value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value.errors.count, "error") %> prohibited this value from being saved:</h2>

      <ul>
      <% @value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value1 %><br>
    <%= f.text_field :value1 %>
  </div>
  <div class="field">
    <%= f.label :value2 %><br>
    <%= f.text_field :value2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
