<p id="notice"><%= notice %></p>

<p>
  <strong>Value1:</strong>
  <%= @value.value1 %>
</p>

<p>
  <strong>Value2:</strong>
  <%= @value.value2 %>
</p>

<%= link_to 'Edit', edit_value_path(@value) %> |
<%= link_to 'Back', values_path %>
