<%= form_for(@total) do |f| %>
  <% if @total.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@total.errors.count, "error") %> prohibited this total from being saved:</h2>

      <ul>
      <% @total.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
