<p id="notice"><%= notice %></p>

<h1>Listing Totals</h1>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @totals.each do |total| %>
      <tr>
        <td><%= total.total %></td>
        <td><%= link_to 'Show', total %></td>
        <td><%= link_to 'Edit', edit_total_path(total) %></td>
        <td><%= link_to 'Destroy', total, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Total', new_total_path %>
